<div class="container-fluid">
<div class="row">
      <% @restaurants.each do |restaurant| %>
      <div class="col-xs-6 col-sm-3">
       <div class="card">
        <div class="card-top" style="background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url('<%= asset_path("restaurants/#{restaurant.id}.jpeg") %>')")>
          <h3><%= restaurant.name %></h3>
        </div>
        <div class="card-footer">
          <div class="category"><p><%= restaurant.category %></p></div>
          <div class="stars">
            <% restaurant.average_rating.times do %>
            <span class='glyphicon glyphicon-star'></span>
            <% end %>
          </div>
        </div>
          <%= link_to '', restaurant_path(restaurant), class: "card-link"  %>
       </div>
      </div>
     <% end %>
    </div>
</div>

