// app/assets/stylesheets/application.scss

// Graphical variables


// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "restaurants.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
